{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<div class="container-flued">
  <div class="row">
    <div class="col-md-9 cart_list">
      <ul class="list-group list-group-flush">
        {% if movies_bag %}
        {% for movie in movies_bag %}
        <li class="list-group-item">
          <div class="col-md-auto">
            <div class="card mb-3" style="max-width: 35rem">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{movie.Movies_cont.poster}}" class="card-img-top" alt="{{movie.title}}">
                </div>
                <div class="col-md-8">

                  <div class="card-body">
                    <h6 class="card-title">{{movie.Movies_cont.title}}</h6>
                    <p class="card-text"><small class="text-muted">Clasification:
                        {% if movie.Movies_cont.adult == False %}All
                        Family {% else %} Adult {{movie.adult}}{% endif %}</small></p>
                    <p>Price: {{movie.Movies_cont.price}}</p>

                    <form action="{% url 'updata' movie.Movies_cont.id %}" method="POST">
                      {% csrf_token %}
                      <p>Quantity:</p>

                      <div class="input-group">
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                          name="quantity" value="{{movie.quantity}}" min="0" max="99" data-movie.id="{{movie.quantity}}"
                          id="id_qty_{{movie.quantity}}">

                        <div class="input-group-append">
                          <input type="submit" class="btn btn-info" value="Updata"></input>
                          <input type="hidden" name="redirect_url" value="{{ request.path}}">
                        </div>
                      </div>

                    </form>


                    <div class="alert alert-info">Subtotal: ${{movie.total}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}

        {% endif %}

      </ul>
    </div>
    <div class="col-md-3 vertical_rigth_nav bg-dark">
      <ul class="nav flex-column">
        <li class="nav-item">dsfksdjfk</li>
      </ul>
    </div>
  </div>
  </div>
{% endblock %}