{% extends "base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}                                                                                                                           


{% block content %}

<section>
    <div class="container">
        <div class="index_galery">
            <div class="row justify-content-between">
                <div class="col-4">
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-lebel small text-black px2 w-auto">Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                            {{ order_form.phone_number | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}


                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}