{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<article>
  <div class="position-relative">
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col col-lg-1">
          {% if page_obj.has_previous %}
          <div class="carousel slide" data-ride="carousel">
            <a class="carousel-control-prev" href="?page={{ page_obj.previous_page_number }}" role="button"
              data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="row">
          {% for movie in page_obj %}
          {# Each "movie" is a movie model object. #}
          {% csrf_token %}
          <div class="col-md-auto">
            <div class="card" style="width: 15rem;">
              <div class="card-body">
                <img src="{{movie.poster}}" class="card-img-top" alt="{{movie.title}}">
                <h6 class="card-title">{{movie.title|upper}}</h6>
                <div class="alert alert-info">{{movie.release_date}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col col-lg-1">
          {% if page_obj.has_next %}
          <div class="carousel slide" data-ride="carousel">
            <a class="carousel-control-next" href="?page={{ page_obj.next_page_number }}" role="button"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>

{% endblock %}