{% load static %}
{% load i18n %}


  {% block content%}
  <nav class="navbar navbar-dark bg-primary">
    <div class="row container-fluid">
      <div class="col-md-7">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'images/Logo_Zerotv.png' %}" width="150" height="60" alt="Home" loading="lazy">
        </a></div>
      <div class="col-3 col-md-5">
        <ul class="sidebar-nav">
          <li class="nav_bar">
            <a href="{% if user.is_authenticated %}{% url 'save_movies' %} {% else %}{% url 'account_login' %} {% endif %}">
              {% if Movies_count %}
              <span class="{% if grand_total %} small badge-pill badge-success{% else %} badge badge-pill badge-secondary{% endif %}"><i class="fa fa-television" aria-hidden="true">              {{ Movies_count }}
              </i> <!-- RECUERDA DARLE UN RETOQUE A ESTO YA NO ES MAS TOTAL SINO CANTIDAD-->
              </span>
              {% endif %}
            </a></li>

          {% if not user.is_authenticated %}
          <li class="nav_bar"><a href="{% url 'account_login'%}?next={{request.path}}">Login</a></li>
          <li class="nav_bar"><a href="{% url 'account_signup' %}?next={{request.path}}">Register</a></li>
          {% endif %}
          {% csrf_token %}
          <li class="nav_bar">
            <form action="{% url 'index' %}"  method="GET" class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
          {% if user.is_authenticated %}
          <li class="nav_bar"><a href="#">{{ user.get_username }}</a></li>
          <nav class="nav_bar">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="row justify-content-end">
    <div class="col-2">
      <div class="potition-static">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <a href="{% url 'save_movies' %}"><h5 class="text-white h5">My Movies</h5></a>
            
          </div>
          <div class="bg-dark p-4">
            <a href="{% url 'account_email' %}"><h5 class="text-white h5">Account</h5> </a>
          </div>
          <div class="bg-dark p-4">
            <a href="{% url 'account_logout' %}?next={{request.path}}"><h5 class="text-white h5">Logout</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}